h3 {
  margin-left: 60px;
}

#question {
  height: 100px;
  width: auto;
}

#item {
  background-color: rgb(51, 153, 255);
  padding: 20px;
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 5px;
}

#spacer {
  margin: 10px;
}

#title {
  font-size: 24px;
}

#info {
  font-family: "Optima", "Candara", sans-serif;
  font-size: 16px;

}

button {
  padding: 10px;
}

#inline{
  display: inline;
}
/* unvisited link */
a:link {
    color: rgb(232,232,232);
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: blue;
}
