body {
  font-family: Helvetica, Arial, sans-serif;
  border-top: 5px solid #4c4066;
  margin: 0px auto;
  font-size: 14px;
  color: #666666;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  background-color: #fdfdfd;
  border-bottom: 1px solid #e5e2e0;
}



h1 {
  color: #3b3b3b;
  font-size: 3em;
}

#quote-text, #author{
  font-family: courier;

}

.row {
  margin-top: 20px;
  height: 60px;
}

button {
  margin: 10px auto;
}

.well {
  margin: 10px, 10px, 10px, 10px;
} 

footer {
  padding-top: 140px;
  padding-bottom: 10px;
  border-bottom: 1px solid #4c4066;
  position: absolute;
  width: 100%;
}

footer #content {
  width: 1040px;
  margin: 0px auto;
}
